@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #1d1d1d center/cover no-repeat;
    color: white;
}

.container {
    max-width: 1005px;
    margin: 0 auto;
    padding: 1em 1em;
}

/* -------------------- HEADER ------------------ */
.container {
    max-width: 1005px;
    margin: 7px 0px 0px 0px;
    padding: 1em 1em;
}

nav {
    margin: 23m auto 0;
}

nav ul {
    margin: 0;
    padding: 0px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    font-size: 1.25em;
    color: white;
    font-weight: 200;
    text-decoration: none;
}

header img {
    width: 50px;
    border-radius: 15px;
}

.highlight {
    color: #41F89D;
}

header {
    background: #111111;
    border-radius: 15px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88vw;
    left: 50%;
    transform: translate(-50%, 0);
}

header h4 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    width: 0px;
    opacity: 0;
}


/* -------------------- HEADERVIEW ------------------ */

.headerView {
    text-align: center;
    padding: 30px;
}

.headerView h1{
    font-size: 3em;
    color: #1d1d1d;
}

.headerView a {
    background: #1d1d1d; 
    padding: 0.7em 2.5em;
    border-radius: 50px;
    color: white;
    text-decoration-line: none;
    font-size: 1.2em;
    font-weight: 500;
}

.fullHeader {
    text-align: center;
    background: #41F89D;
    margin: -7px;
}

.fullHeader img {
    width: 60%;
    max-width: 300px;
    padding: 30px
}

/* -------------------- FEATURES ------------------ */

.features {
    text-align: center;
    display: inline-block;
    width: 100%
}

.features div {
    max-width: 240px;
    display: inline-block;
    padding: 20px;
}

.features div img{
    width: 33.33%;
    fill: white;
}

.features h2 {
    font-size: 1.5em;
    margin: 15px 0px -15px 0px;
}

/* -------------------- EARLY ACCESS ------------------ */

.earlyAccess {
    padding: 30px;
    background-color: #41F89D;
    color: #1d1d1d;
    text-align: center;
    border-radius: 10px;
}

.earlyAccess h1 {
    font-size: 3em;
    margin: 30px 0px -10px 0px;
}
.earlyAccess p {
    max-width: 800px;
    display: inline-block;
}

.earlyAccess a {
    background: #1d1d1d; 
    padding: 0.7em 2.5em;
    border-radius: 50px;
    color: white;
    text-decoration-line: none;
    font-size: 1.2em;
    font-weight: 500;
}

/* -------------------- MORE INFO - FAQS------------------ */

.moreInfo {
    padding: 30px;
    text-align: center;
}

.moreInfo div {
    min-width: 300px;
    max-width: 600px;
    text-align: left;
    display: inline-block;
    padding: 0px 15px 0px 15px;
}

.moreInfo div p{
    font-size: 0.9em;
}

.moreInfo div h2 {
    font-size: 1.3em;
    font-weight: 600;
    display: inline-block;
    color: #cccccc;
}

.moreInfo div p {
    margin: -15px 0px 0px 0px;
    text-align: left;
}


/* -------------------- FAQ'S ------------------ */

.FAQs {
    padding: 30px;
    text-align: center;
}

.FAQs div {
    display: inline-block;  
    width: 80%;
    max-width: 400px;
    background: #272727;
    border-radius: 10px;
    padding: 20px;
    margin: 7px;
    color: white;
    height: 40px;
    text-align: right;
    cursor: pointer;
}

.FAQs h2 {
    font-size: 1.1em;
    font-weight: 400;
    display: inline-block;
    position: relative;
    top: -25px;
    text-align: center;
    width: 80%
}

.FAQs div p {
    display: inline-block;
    text-align: right;
    width: 30px;
    font-size: 1.6em;
    position: relative;
    top: -24px;
}

.moreInfo m {
    color: #a5b1c2;
    font-size: 0.8em;
}

/* -------------------- MODAL ------------------ */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    background: #272727;
    padding: 30px;
    border-radius: 15px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
}

.modal.cancel {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.modal.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 600;
    align-content: center;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.close {
    transition: 200ms ease-in-out;
    opacity: 0;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* -------------------- FOOTER ------------------ */

footer {
    font-family: 'Poppins', sans-serif;
    background: #111111;
    color: white;
    text-align: center;
    border-radius: 10px;
}

footer ul {
    margin: -2px 0px 0px -20px;
    text-align: left;
}

footer h2 {
    font-size: 3em;
    color: #1D1D1D;
    margin: -30px 0px 0px 20px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    font-size: 1.07em;
    color: white;
    font-weight: 300;
    text-decoration: none;
}

footer h1 {
    font-weight: 700;
    font-size: 3.3em;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    text-align: left;
    max-width: 300px;
}

footer p {
    line-height: 5px;
    color: #bdc3c7;
}

.logo {
    height: 100px;
    width: 100px;
    text-align: left;
    padding: 30px 26% 30px 26%;
    margin: 0px;
    display: inline-block
}


/* -------------------- SOCIAL ------------------ */

.social {
    text-align: center;
    display: inline-block;
    padding: 0px 0px 25px 0px;
}

.social ul li {
    display: inline;
    padding: 10px;
}

.social ul li img {
    height: 50px;
    border-radius: 25px;
    text-align: right;
    display: inline-block;
}

/* -------------------- LINKS ------------------ */

.firstFooter {
    display: inline-block;
}

.secondFooter {
    display: inline-block;
}

.contact h2 {
    font-size: 1.6em;
    color: #bdc3c7;
    font-weight: 600;
    text-align: left;
}

.sellers h2 {
    font-size: 1.6em;
    color: #bdc3c7;
    font-weight: 600;
    text-align: left;
}

.contact {
    width: 200px;
    height: 100px;
    float: left;
    font-weight: 400;
}

.sellers {
    width: 200px;
    height: 100px;
    float: left;
}

.legal h2 {
    font-size: 1.6em;
    color: #bdc3c7;
    font-weight: 600;
    text-align: left;
}

.legal {
    width: 200px;
    height: 100px;
    float: left;
}

.more h2 {
    font-size: 1.6em;
    color: #bdc3c7;
    font-weight: 600;
    text-align: left;
}

.more {
    width: 200px;
    float: left;
}

.categories {
    text-align: center;
    display: inline-block;
}

figure {
    text-align: center;
}

figure img{
    margin: 1em auto 0;
    width: 70%;
    border-radius: 13px;
    max-width: 500px;
}

@media screen and (min-width: 720px) {
    /* Desktop */

    /* -------------------- HEADER ------------------ */
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
        width: 500px;
        right: 10px;
        left: auto;
        transform: none;
    }

     header h4 {
        text-align: left;
        font-size: 1.6em;
        font-weight: 600;
        margin: 0px 160px 0px 0px;
        opacity: 1;
    }

    header h4 l {
        font-weight: 400;
        font-size: 0.8em;
        align-items: center;
    }

    nav { 
        margin: 0;
        width: 270px
    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }

    nav ul li a {
        font-size: 1.37em;
        color: white;
        font-weight: none;
    }

    .highlight {
        border: 3px solid #41F89D;
        color: white;
        border-radius: 50px;
    }

    /* -------------------- MORE INFO - FAQS------------------ */

    .moreInfo div {
        width: 40%;
        min-width: 300px;
        max-width: 600px;
        padding: 0px 30px 0px 30px;
        height: 150px;
    }

    /* -------------------- HEADERVIEW ------------------ */
    .fullHeader {
        text-align: center;
    }

    .headerView {
        text-align: right;
        max-width: 500px;
        width: 50%;
        display: inline-block;
        padding: 30px 0px 30px 30px;
        right: 60px;
        position: relative;
        top: -40px;
    }

    .headerView h1{
        font-size: 3em;
    }

    .fullHeader img {
        width: 40%;
        max-width: 400px;
        padding: 0px;
        margin: -20px 0px 0px 0px;
    }

    /* -------------------- FEATURES ------------------ */

    .features div {
        padding: 40px;
    }

    .social {
        max-width: 300px;
        float: right;
        margin: 55px 0px 0px 0px;
    }

    .logo {
        height: 100px;
        width: 100px;
        text-align: left;
        padding: 30px;
        margin: 0px 0px 0px -400px;
    }

}
