@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #1d1d1d center/cover no-repeat;
    color: white;
    overflow-x: hidden;
}

/* -------------------- HEADER ------------------ */
.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 1em 1em;
}

nav {
    margin: 23m auto 0;
}

nav ul {
    margin: 0;
    padding: 0px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    font-size: 1.25em;
    color: white;
    font-weight: 200;
    text-decoration: none;
}

header img {
    width: 90px;
    border-radius: 15px;
    display: inline-block;
    margin: 10px 0px -30px 0px;
}

header {
    border-radius: 15px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

header h4 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    width: 0px;
    opacity: 0;
}

main {
    display: flex;
    flex-flow: column;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 3.0em;
    font-weight: 700;
    line-height: 1.0em;
}

.hero p {
    font-size: 1.2em;
    font-weight: 200;
    max-width: 500px;
    line-height: 1.8em;
    margin: 3em auto;
}

.hero p:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid;
    margin: 1em auto;
}

.hero a {
    background: center url('https://66.media.tumblr.com/8d163120131bd4b72ed3f8706033345e/tumblr_psgw7eeiOC1uzwgsuo1_400.gif') no-repeat;
    background-size: cover;
    padding: 15px 70px 15px 70px;
    margin: -100px;
    border-radius: 50px;
    color: white;
    text-decoration-line: none;
    font-size: 1.2em;
    font-weight: 500;
}

h2 {
    font-size: 3em;
    color: #1D1D1D;
    margin: -30px 0px 0px 20px;
}

.emoji {
    margin: -70px 0px 0px 20px;
    font-size: 5em;
}

.beta-desc {
    background: #41F89D;
    margin: -4px;
    padding: 20px;
    text-align: left;
}

.beta-desc p {
    color: #1d1d1d;
    margin: 20px;
}

sup {
    font-size: 0.8em;
}

.beta-desc a {
    background: #1d1d1d; 
    padding: 0.7em 2.5em;
    border-radius: 50px;
    color: white;
    text-decoration-line: none;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}

.business {
    padding: 60px 0px 60px 0px;
    text-align: center;
}

.business a {
    background: white; 
    padding: 0.7em 2.5em;
    border-radius: 50px;
    color: #1d1d1d;
    text-decoration-line: none;
    font-size: 1.2em;
    font-weight: 600;
    margin: 20px;
}

.business p {
    max-width: 740px;
    display: inline-block;
}

.business img {
    width: 70%;
    max-width: 450px;
}

/* -------------------- FOOTER ------------------ */

footer {
    font-family: 'Poppins', sans-serif;
    background: #111111;
    color: white;
    text-align: center;
    border-radius: 10px;
}

footer ul {
    margin: -2px 0px 0px -20px;
    text-align: left;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    font-size: 1.07em;
    color: white;
    font-weight: 300;
    text-decoration: none;
}

footer h1 {
    font-weight: 700;
    font-size: 3.3em;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    text-align: left;
    max-width: 300px;
}

footer p {
    line-height: 5px;
    color: #bdc3c7;
}

.logo {
    height: 100px;
    width: 100px;
    text-align: left;
    padding: 30px 26% 30px 26%;
    margin: 0px;
    display: inline-block
}

/* -------------------- SOCIAL ------------------ */

.social {
    text-align: center;
    display: inline-block;
    padding: 0px 0px 25px 0px;
}

.social ul li {
    display: inline;
    padding: 10px;
}

.social ul li img {
    height: 50px;
    border-radius: 25px;
    text-align: right;
    display: inline-block;
}

/* -------------------- LINKS ------------------ */

.firstFooter {
    display: inline-block;
}

.secondFooter {
    display: inline-block;
}

.contact h2 {
    font-size: 1.6em;
    color: #bdc3c7;
    font-weight: 600;
    text-align: left;
}

.sellers h2 {
    font-size: 1.6em;
    color: #bdc3c7;
    font-weight: 600;
    text-align: left;
}

.contact {
    width: 200px;
    height: 100px;
    float: left;
    font-weight: 400;
}

.sellers {
    width: 200px;
    height: 100px;
    float: left;
}

.legal h2 {
    font-size: 1.6em;
    color: #bdc3c7;
    font-weight: 600;
    text-align: left;
}

.legal {
    width: 200px;
    height: 100px;
    float: left;
}

.more h2 {
    font-size: 1.6em;
    color: #bdc3c7;
    font-weight: 600;
    text-align: left;
}

.more {
    width: 200px;
    float: left;
}

.categories {
    text-align: center;
    display: inline-block;
}

figure {
    text-align: center;
}

figure img{
    margin: 10px 0px -35px 0px;
    width: 100%;
    max-width: 300px;
}

@media screen and (min-width: 720px) {
    /* Desktop */
    header {
        text-align: left;
    }
    
    header img{
        margin: 50px 0px -100px 15px;
    }

    header h4 {
        text-align: left;
        font-size: 1.6em;
        font-weight: 600;
        margin: 0px 160px 0px 0px;
        opacity: 1;
    }

    .highlight {
        border: 3px solid #41F89D;
        color: white;
        border-radius: 50px;
    }

    main {
        flex-flow: row;
    }

    .hero {
        text-align: left;
    }

    .hero h1 {
        font-size: 5em;
        line-height: 90px;
    }

    .hero p:before {
        margin: 1em 0;
    }

    .hero p {
        font-size: 1.3em;
        padding: 0;
        margin: 0 0 3em 0;
    }
    
    .hero a {
        margin: 0px;
    }

    .beta-desc {
        text-align: center;
    }

    .social {
        max-width: 300px;
        float: right;
        margin: 55px 0px 0px 0px;
    }

    .logo {
        height: 100px;
        width: 100px;
        text-align: left;
        padding: 30px;
        margin: 0px 0px 0px -400px;
    }

    figure img {
        width: 100%;
        margin: 10px 0px -35px 0px;
        max-width: 600px;
    }
}
