@import url('https://fonts.googleapis.com/css?family=Poppins:500,700,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #1d1d1d center/cover no-repeat;
    color: white;
}

.container {
    max-width: 1005px;
    margin: 0 auto;
    padding: 1em 1em;
}

nav {
    margin: 23m auto 0;
    max-width: 600px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    font-size: 1.25em;
    color: white;
    font-weight: 200;
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: column;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 3.0em;
    font-weight: 700;
    line-height: 1.0em;
}

.hero p {
    font-size: 1.2em;
    font-weight: 200;
    max-width: 500px;
    line-height: 1.8em;
    margin: 3em auto;
}

.hero p:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid;
    margin: 1em auto;
}

.hero a {
    background: #41F89D; 
    padding: 0.7em 2.5em;
    border-radius: 50px;
    color: #1d1d1d;
    text-decoration-line: none;
    font-size: 1.2em;
    font-weight: 500;
}

figure {
    text-align: center;
}

figure img{
    margin: 1em auto 0;
    width: 80%;
    border-radius: 13px;
    max-width: 500px;
}

@media screen and (min-width: 600px) {
    /* Desktop */
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }
    
    nav { 
        margin: 0;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }
    
    nav ul li a {
        font-size: 1.37em;
        color: white;
        font-weight: none;
    }
    
    .highlight {
        border: 3px solid #55efc4;
        border-radius: 50px;
    }
    
    main {
        flex-flow: row;
    }
    
    .hero {
        text-align: left;
    }
    
    .hero h1 {
        font-size: 5em;
        line-height: 90px;
    }
    
    .hero p:before {
        margin: 1em 0;
    }
    
    .hero p {
        font-size: 1.3em;
        padding: 0;
        margin: 0 0 3em 0;
    }
    
    .hero a {
        background: #41F89D;
    }
    
    .figure img {
        width: 300px;
        margin: 0;
        max-width: 300px;
    }
}
